/* Nunito */
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-ExtraLight.ttf');
    src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'),
    url('../fonts/Nunito/Nunito-ExtraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-ExtraLightItalic.ttf');
    src: local('Nunito ExtraLight Italic'), local('Nunito-ExtraLightIt'),
    url('../fonts/Nunito/Nunito-ExtraLightItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Light.ttf');
    src: local('Nunito Light'), local('Nunito-Light'),
    url('../fonts/Nunito/Nunito-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-LightItalic.ttf');
    src: local('Nunito Light Italic'), local('Nunito-LightIt'),
    url('../fonts/Nunito/Nunito-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Regular.ttf');
    src: local('Nunito Regular'), local('Nunito-Regular'),
    url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Italic.ttf');
    src: local('Nunito Italic'), local('Nunito-It'),
    url('../fonts/Nunito/Nunito-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-SemiBold.ttf');
    src: local('Nunito SemiBold'), local('Nunito-SemiBold'),
    url('../fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-SemiBoldItalic.ttf');
    src: local('Nunito SemiBold Italic'), local('Nunito-SemiBoldIt'),
    url('../fonts/Nunito/Nunito-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Bold.ttf');
    src: local('Nunito Bold'), local('Nunito-Bold'),
    url('../fonts/Nunito/Nunito-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-BoldItalic.ttf');
    src: local('Nunito Bold Italic'), local('Nunito-BoldIt'),
    url('../fonts/Nunito/Nunito-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-ExtraBold.ttf');
    src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'),
    url('../fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-ExtraBoldItalic.ttf');
    src: local('Nunito ExtraBold Italic'), local('Nunito-ExtraBoldIt'),
    url('../fonts/Nunito/Nunito-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Black.ttf');
    src: local('Nunito Black'), local('Nunito-Black'),
    url('../fonts/Nunito/Nunito-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-BlackItalic.ttf');
    src: local('Nunito Black Italic'), local('Nunito-BlackIt'),
    url('../fonts/Nunito/Nunito-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

:root {
    --main-color: #494343;
    --primary-color: #5F9EA0;
    --lilac-color: #E645A2;
    --lightblue-color: #72A0EF;
    --kleinblue-color: #3372BF;
    --blue-color: #115EFF;
    --orchid-color: #A286FB;
    --orange-color: #FF8757;
    --white-color: #FFFFFF;
    --gold-color: #BE9B64;

    --main-color-op10: rgba(73, 67, 67, 0.1);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;

    scroll-behavior: smooth;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    font-weight: normal;
    line-height: 19px;
    width: 100%;
    height: 100%;
    color: var(--main-color);
}

body input:not([type="checkbox"]),
body select,
body textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: var(--main-color);
}

body input:not([type="checkbox"])::-webkit-input-placeholder,
body select::-webkit-input-placeholder,
body textarea::-webkit-input-placeholder {
    font-family: "Nunito", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
}

body input:not([type="checkbox"])::-moz-placeholder,
body select::-moz-placeholder,
body textarea::-moz-placeholder {
    font-family: "Nunito", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
}

body input:not([type="checkbox"]):-ms-input-placeholder,
body select:-ms-input-placeholder,
body textarea:-ms-input-placeholder {
    font-family: "Nunito", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
}

body input:not([type="checkbox"]):-moz-placeholder,
body select:-moz-placeholder,
body textarea:-moz-placeholder {
    font-family: "Nunito", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    border: 0;
    -webkit-text-fill-color: var(--main-color);
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

ol, ul {
    list-style: none;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    cursor: pointer;
    outline: 0;
    border: 0;
    text-decoration: none;
    color: inherit;
}

button {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    outline: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    user-select: none;
}

picture {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

picture img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    width: 100%;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
}

.md, .xs {
    display: none;
}

.wrapper {
    position: relative;
    width: 100%;
    min-width: 1200px;
    height: 100%;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    background: transparent;
}

.container {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 100px;
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: var(--white-color);
    transition: box-shadow 0.3s ease-out;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: padding 0.3s ease-out;
}

.header--scrolling .header__container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin-right: 35px;
    font-size: 16px;
    line-height: 19px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__text {
    background-image: linear-gradient(to bottom, var(--primary-color), var(--primary-color) 50%, var(--main-color) 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s linear;
    position: relative;
}

.menu__text::before {
    content: '';
    background: var(--primary-color);
    display: block;
    position: absolute;
    bottom: -10px;
    border-radius: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: all 0.5s linear;
}

.social__link {
    display: flex;
    align-items: center;
}

.social__icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.social__text {
    font-size: 16px;
    line-height: 19px;
    background-image: linear-gradient(to bottom, var(--primary-color), var(--primary-color) 50%, var(--main-color) 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s linear;
    position: relative;
}

.social__text::before {
    content: '';
    background: var(--primary-color);
    display: block;
    position: absolute;
    bottom: -10px;
    border-radius: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: all 0.5s linear;
}

.main {
    max-height: calc(var(--vh, 1vh) * 100);
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: clip;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}

.main::-webkit-scrollbar {
    display: none;
}

.main::-webkit-scrollbar-track {
    display: none;
}

.main::-webkit-scrollbar-thumb {
    display: none;
}

.section {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    scroll-snap-align: start;
    overflow: hidden;
    position: relative;
    display: flex;
}

.section__container {
    max-width: 1600px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section--intro .section__container {
    justify-content: center;
    padding-bottom: 80px;
}

.project--reverse .section__container {
    flex-direction: row-reverse;
}

.intro__info {
    width: calc(100% - 500px);
    margin-right: 50px;
}

.intro__greeting {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
}

.intro__title {
    font-size: 70px;
    line-height: 74px;
    margin-bottom: 30px;
}

.section__info,
.list__text,
.intro__text {
    font-size: 20px;
    line-height: 24px;
}

.intro__text {
    line-height: 26px;
}

.intro__text {
    margin-bottom: 10px;
}

.intro__title + .intro__text {
    margin-bottom: 30px;
}

.highlighted {
    color: var(--primary-color);
}

.intro__list {
    position: relative;
    min-height: 48px;
}

.list__item {
    margin-bottom: 10px;
    position: relative;
    padding-left: 15px;
    background: url('../images/stack_arrow_cadetblue.svg') no-repeat left 6px;
}

.list__item:last-child {
    margin-bottom: 0;
}

.list--rotated .list__item {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    animation: rotateWord 18s linear infinite 0s;
}

.list--rotated .list__item:nth-child(2) {
    animation-delay: 3s;
}

.list--rotated .list__item:nth-child(3) {
    animation-delay: 6s;
}

.list--rotated .list__item:nth-child(4) {
    animation-delay: 9s;
}

.list--rotated .list__item:nth-child(5) {
    animation-delay: 12s;
}

.list--rotated .list__item:nth-child(6) {
    animation-delay: 15s;
}

@keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        transform: translateY(-20px);
    }
    5% {
        opacity: 1;
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        transform: translateY(0px);
    }
    20% {
        opacity: 0;
        transform: translateY(20px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.intro__photo {
    width: 450px;
    min-width: 450px;
    height: 450px;
    border-radius: 50% 4px 50% 4px;
    position: relative;
}

.intro__photo:before {
    content: '';
    position: absolute;
    right: -7px;
    bottom: -7px;
    border-radius: 50% 4px 50% 4px;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    opacity: 0.2;
}

.intro__photo_inner {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50% 4px 50% 4px;
}

.scroller {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    opacity: 0.7;
    background: url('../images/scroller_arrow_cadetblue.svg') no-repeat center center;
    background-size: 20px;
    cursor: pointer;
}

.section--project:last-child .scroller {
    display: none;
}

.project__picture {
    width: 750px;
    margin-right: 50px;
    min-width: 750px;
    height: 552px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.project__slide {
    width: 100%;
    height: 532px;
    border-radius: 12px;
    overflow: hidden;
}

.project__slide a[data-fancybox] {
    cursor: url('../images/cursor_zoom_cadetblue.svg'), zoom-in;
}

.project__slide picture img {
    max-width: 100%;
    object-fit: contain;
    max-height: 100%;
}

.project--reverse .project__picture {
    margin-left: 50px;
    margin-right: 0;
}

.project__picture .slick-arrow {
    top: 0;
    left: 0;
    transform: none;
    width: 50px;
    height: 100%;
    z-index: 2;
    cursor: url('../images/cursor_arrow_prev_cadetblue.svg'), w-resize;
}

.project__picture .slick-next {
    left: auto;
    right: 0;
    cursor: url('../images/cursor_arrow_next_cadetblue.svg'), e-resize;
}

.project__type {
    font-size: 15px;
    line-height: 16px;
    padding: 5px 7px;
    background: var(--primary-color);
    display: inline-block;
    border-radius: 4px;
    color: var(--white-color);
    margin-bottom: 15px;
}

.project__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 10px;
}

.project__description {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 19px;
}

.project__stack {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.stack__block {
    margin-right: 25px;
    position: relative;
    font-size: 16px;
    line-height: 19px;
    padding-left: 15px;
    background: url('../images/stack_arrow_cadetblue.svg') no-repeat left center;
}

.stack__block:last-child {
    margin-right: 0;
}

.project__links {
    display: flex;
    align-items: center;
}

.project__link {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: all .3s ease-out;
    position: relative;
    overflow: hidden;
}

.project__link:last-child {
    margin-right: 0;
}

.project__link_hover {
    position: absolute;
    z-index: 0;
    width: 150%;
    height: 150%;
    border-radius: 80%;
    bottom: -25%;
    left: -25%;
    background-color: var(--primary-color);
    transform: translateY(160%);
    transition: transform .3s ease-out;
}

.project__link_text {
    position: relative;
    z-index: 2;
}

.magnet {
    transition: transform .3s ease;
}

.follow {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
    background-color: rgba(95, 158, 160, 0.5);
    border-radius: 100%;
    z-index: 3;
    transition: transform 0.1s ease,
                background-color 0.3s ease-out,
                width 0s ease-out;
}

.follow--disable {
    background-color: transparent;
    width: 0;
    transition: transform 0.1s ease,
                background-color 0.3s ease-out,
                width 0s ease-out 0.3s;
}

.slick-dots {
    bottom: 0px;
    line-height: 0;
    font-size: 0;
    width: -moz-fit-content;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.slick-dots li {
    width: 7px;
    height: 7px;
    transition: all 0.3s ease-out;
    margin: 0 3px;
}

.slick-dots li button {
    padding: 0;
    background-color: rgba(95, 158, 160, 0.5);
    transition: all 0.3s ease-out;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.slick-dots li.slick-active {
    width: 12px;
}

.slick-dots li.slick-active button {
    background-color: rgba(95, 158, 160, 0.8);
}

.slick-dots li button:before {
    display: none;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
}

.footer__container {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 19px;
}

.separator {
    margin: 0 5px;
    font-size: 16px;
}

.footer a {
    position: relative;
}

.footer a::before {
    content: '';
    background: var(--white-color);
    display: block;
    position: absolute;
    bottom: -10px;
    border-radius: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: all 0.5s linear;
}

.popup--menu {
    display: none;
}

.wrapper--shadow {
    display: none;
    content: '';
    background: #333333;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 100000;
}

.wrapper--active,
.popup--active {
    display: block;
}

@media only screen and (min-width: 1600px) {
    .project__picture {
        width: 850px;
        margin-right: 80px;
        min-width: 850px;
        height: 623px;
    }

    .project__slide {
        height: 603px;
    }
}

@media only screen and (max-width: 1599px) {
    .intro__title {
        font-size: 60px;
        line-height: 64px;
    }
}

@media only screen and (max-width: 1440px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .intro__photo {
        width: 400px;
        min-width: 400px;
    }

    .intro__info {
        width: calc(100% - 450px);
    }

    .intro__title {
        font-size: 53px;
        line-height: 57px;
    }
}

@media only screen and (max-width: 1350px) {
    .project__picture {
        width: 650px;
        min-width: 650px;
        height: 481px;
    }

    .project__slide {
        height: 461px;
    }
}

@media only screen and (min-width: 1600px) and (max-height: 850px) {
    .project__picture {
        width: 750px;
        min-width: 750px;
        height: 552px;
    }

    .project__slide {
        height: 532px;
    }
}

@media only screen and (min-width: 1600px) and (max-height: 750px) {
    .intro__title {
        font-size: 60px;
        line-height: 64px;
        margin-bottom: 20px;
    }

    .intro__greeting,
    .intro__title + .intro__text {
        margin-bottom: 20px;
    }

    .project__picture {
        width: 650px;
        min-width: 650px;
        height: 481px;
    }

    .project__slide {
        height: 461px;
    }
}

@media only screen and (min-width: 1200px) and (max-height: 700px) {
    .intro__photo {
        height: 400px;
        width: 400px;
        min-width: 400px;
    }

    .intro__greeting {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .intro__title + .intro__text {
        margin-bottom: 20px;
    }

    .section__info,
    .list__text,
    .intro__text {
        font-size: 18px;
        line-height: 22px;
    }

    .intro__text {
        line-height: 24px;
    }

    .intro__title {
        font-size: 50px;
        line-height: 54px;
        margin-bottom: 20px;
    }

    .project__picture {
        width: 550px;
        min-width: 550px;
        height: 410px;
    }

    .project__slide {
        height: 390px;
    }
}

@media only screen and (min-width: 1200px) and (max-height: 600px) {
    .intro__photo {
        height: 350px;
        width: 350px;
        min-width: 350px;
    }

    .intro__greeting {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .intro__title + .intro__text {
        margin-bottom: 15px;
    }

    .section__info,
    .list__text,
    .intro__text {
        font-size: 16px;
        line-height: 20px;
    }

    .intro__text {
        line-height: 22px;
    }

    .intro__title {
        font-size: 45px;
        line-height: 49px;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    .header--lilac .menu__text {
        background-image: linear-gradient(to bottom, var(--lilac-color), var(--lilac-color) 50%, var(--main-color) 50%);
    }

    .header--lightblue .menu__text {
        background-image: linear-gradient(to bottom, var(--lightblue-color), var(--lightblue-color) 50%, var(--main-color) 50%);
    }

    .header--orchid .menu__text {
        background-image: linear-gradient(to bottom, var(--orchid-color), var(--orchid-color) 50%, var(--main-color) 50%);
    }

    .header--orange .menu__text {
        background-image: linear-gradient(to bottom, var(--orange-color), var(--orange-color) 50%, var(--main-color) 50%);
    }

    .header--blue .menu__text {
        background-image: linear-gradient(to bottom, var(--blue-color), var(--blue-color) 50%, var(--main-color) 50%);
    }

    .header--klein-blue .menu__text {
        background-image: linear-gradient(to bottom, var(--kleinblue-color), var(--kleinblue-color) 50%, var(--main-color) 50%);
    }

    .header--gold .menu__text {
        background-image: linear-gradient(to bottom, var(--gold-color), var(--gold-color) 50%, var(--main-color) 50%);
    }

    .header--lilac .menu__text:before {
        background: var(--lilac-color);
    }

    .header--lightblue .menu__text:before {
        background: var(--lightblue-color);
    }

    .header--orchid .menu__text:before {
        background: var(--orchid-color);
    }

    .header--orange .menu__text:before {
        background: var(--orange-color);
    }

    .header--blue .menu__text:before {
        background: var(--blue-color);
    }

    .header--klein-blue .menu__text:before {
        background: var(--kleinblue-color);
    }

    .header--gold .menu__text:before {
        background: var(--gold-color);
    }

    .header--lilac .social__text {
        background-image: linear-gradient(to bottom, var(--lilac-color), var(--lilac-color) 50%, var(--main-color) 50%);
    }

    .header--lightblue .social__text {
        background-image: linear-gradient(to bottom, var(--lightblue-color), var(--lightblue-color) 50%, var(--main-color) 50%);
    }

    .header--orchid .social__text {
        background-image: linear-gradient(to bottom, var(--orchid-color), var(--orchid-color) 50%, var(--main-color) 50%);
    }

    .header--orange .social__text {
        background-image: linear-gradient(to bottom, var(--orange-color), var(--orange-color) 50%, var(--main-color) 50%);
    }

    .header--blue .social__text {
        background-image: linear-gradient(to bottom, var(--blue-color), var(--blue-color) 50%, var(--main-color) 50%);
    }

    .header--klein-blue .social__text {
        background-image: linear-gradient(to bottom, var(--kleinblue-color), var(--kleinblue-color) 50%, var(--main-color) 50%);
    }

    .header--gold .social__text {
        background-image: linear-gradient(to bottom, var(--gold-color), var(--gold-color) 50%, var(--main-color) 50%);
    }

    .header--lilac .social__text:before {
        background: var(--lilac-color);
    }

    .header--lightblue .social__text:before {
        background: var(--lightblue-color);
    }

    .header--orchid .social__text:before {
        background: var(--orchid-color);
    }

    .header--orange .social__text:before {
        background: var(--orange-color);
    }

    .header--blue .social__text:before {
        background: var(--blue-color);
    }

    .header--klein-blue .social__text:before {
        background: var(--kleinblue-color);
    }

    .header--gold .social__text:before {
        background: var(--gold-color);
    }

    .project--lilac .scroller {
        border: 1px solid var(--lilac-color);
        background: url('../images/scroller_arrow_lilac.svg') no-repeat center center;
        background-size: 20px;
    }

    .project--lightblue .scroller {
        border: 1px solid var(--lightblue-color);
        background: url('../images/scroller_arrow_lightblue.svg') no-repeat center center;
        background-size: 20px;
    }

    .project--orchid .scroller {
        border: 1px solid var(--orchid-color);
        background: url('../images/scroller_arrow_orchid.svg') no-repeat center center;
        background-size: 20px;
    }

    .project--orange .scroller {
        border: 1px solid var(--orange-color);
        background: url('../images/scroller_arrow_orange.svg') no-repeat center center;
        background-size: 20px;
    }

    .project--blue .scroller {
        border: 1px solid var(--blue-color);
        background: url('../images/scroller_arrow_blue.svg') no-repeat center center;
        background-size: 20px;
    }

    .project--klein-blue .scroller {
        border: 1px solid var(--kleinblue-color);
        background: url('../images/scroller_arrow_kleinblue.svg') no-repeat center center;
        background-size: 20px;
    }

    .project--gold .scroller {
        border: 1px solid var(--gold-color);
        background: url('../images/scroller_arrow_gold.svg') no-repeat center center;
        background-size: 20px;
    }

    .project--lilac .project__slide a[data-fancybox] {
        cursor: url('../images/cursor_zoom_lilac.svg'), zoom-in;
    }

    .project--lightblue .project__slide a[data-fancybox] {
        cursor: url('../images/cursor_zoom_lightblue.svg'), zoom-in;
    }

    .project--orchid .project__slide a[data-fancybox] {
        cursor: url('../images/cursor_zoom_orchid.svg'), zoom-in;
    }

    .project--orange .project__slide a[data-fancybox] {
        cursor: url('../images/cursor_zoom_orange.svg'), zoom-in;
    }

    .project--blue .project__slide a[data-fancybox] {
        cursor: url('../images/cursor_zoom_blue.svg'), zoom-in;
    }

    .project--klein-blue .project__slide a[data-fancybox] {
        cursor: url('../images/cursor_zoom_kleinblue.svg'), zoom-in;
    }

    .project--gold .project__slide a[data-fancybox] {
        cursor: url('../images/cursor_zoom_gold.svg'), zoom-in;
    }

    .project--lilac .project__picture .slick-arrow {
        cursor: url('../images/cursor_arrow_prev_lilac.svg'), w-resize;
    }

    .project--lightblue .project__picture .slick-arrow {
        cursor: url('../images/cursor_arrow_prev_lightblue.svg'), w-resize;
    }

    .project--orchid .project__picture .slick-arrow {
        cursor: url('../images/cursor_arrow_prev_orchid.svg'), w-resize;
    }

    .project--orange .project__picture .slick-arrow {
        cursor: url('../images/cursor_arrow_prev_orange.svg'), w-resize;
    }

    .project--blue .project__picture .slick-arrow {
        cursor: url('../images/cursor_arrow_prev_blue.svg'), w-resize;
    }

    .project--klein-blue .project__picture .slick-arrow {
        cursor: url('../images/cursor_arrow_prev_kleinblue.svg'), w-resize;
    }

    .project--gold .project__picture .slick-arrow {
        cursor: url('../images/cursor_arrow_prev_gold.svg'), w-resize;
    }

    .project--lilac .project__picture .slick-next {
        cursor: url('../images/cursor_arrow_next_lilac.svg'), e-resize;
    }

    .project--lightblue .project__picture .slick-next {
        cursor: url('../images/cursor_arrow_next_lightblue.svg'), e-resize;
    }

    .project--orchid .project__picture .slick-next {
        cursor: url('../images/cursor_arrow_next_orchid.svg'), e-resize;
    }

    .project--orange .project__picture .slick-next {
        cursor: url('../images/cursor_arrow_next_orange.svg'), e-resize;
    }

    .project--blue .project__picture .slick-next {
        cursor: url('../images/cursor_arrow_next_blue.svg'), e-resize;
    }

    .project--klein-blue .project__picture .slick-next {
        cursor: url('../images/cursor_arrow_next_kleinblue.svg'), e-resize;
    }

    .project--gold .project__picture .slick-next {
        cursor: url('../images/cursor_arrow_next_gold.svg'), e-resize;
    }

    .project--lilac .project__type {
        background: var(--lilac-color);
    }

    .project--lightblue .project__type {
        background: var(--lightblue-color);
    }

    .project--orchid .project__type {
        background: var(--orchid-color);
    }

    .project--orange .project__type {
        background: var(--orange-color);
    }

    .project--blue .project__type {
        background: var(--blue-color);
    }

    .project--klein-blue .project__type {
        background: var(--kleinblue-color);
    }

    .project--gold .project__type {
        background: var(--gold-color);
    }

    .project--lilac .stack__block {
        background-image: url('../images/stack_arrow_lilac.svg');
    }

    .project--lightblue .stack__block {
        background-image: url('../images/stack_arrow_lightblue.svg');
    }

    .project--orchid .stack__block {
        background-image: url('../images/stack_arrow_orchid.svg');
    }

    .project--orange .stack__block {
        background-image: url('../images/stack_arrow_orange.svg');
    }

    .project--blue .stack__block {
        background-image: url('../images/stack_arrow_blue.svg');
    }

    .project--klein-blue .stack__block {
        background-image: url('../images/stack_arrow_kleinblue.svg');
    }

    .project--gold .stack__block {
        background-image: url('../images/stack_arrow_gold.svg');
    }

    .project--lilac .project__link {
        border-color: var(--lilac-color);
        color: var(--lilac-color);
    }

    .project--lilac .project__link:hover {
        color: var(--white-color);
    }

    .project--lilac .project__link_hover {
        background-color: var(--lilac-color);
    }

    .project--lightblue .project__link {
        border-color: var(--lightblue-color);
        color: var(--lightblue-color);
    }

    .project--lightblue .project__link:hover {
        color: var(--white-color);
    }

    .project--lightblue .project__link_hover {
        background-color: var(--lightblue-color);
    }

    .project--orchid .project__link {
        border-color: var(--orchid-color);
        color: var(--orchid-color);
    }

    .project--orchid .project__link:hover {
        color: var(--white-color);
    }

    .project--orchid .project__link_hover {
        background-color: var(--orchid-color);
    }

    .project--orange .project__link {
        border-color: var(--orange-color);
        color: var(--orange-color);
    }

    .project--orange .project__link:hover {
        color: var(--white-color);
    }

    .project--orange .project__link_hover {
        background-color: var(--orange-color);
    }

    .project--blue .project__link {
        border-color: var(--blue-color);
        color: var(--blue-color);
    }

    .project--blue .project__link:hover {
        color: var(--white-color);
    }

    .project--blue .project__link_hover {
        background-color: var(--blue-color);
    }

    .project--klein-blue .project__link {
        border-color: var(--kleinblue-color);
        color: var(--kleinblue-color);
    }

    .project--klein-blue .project__link:hover {
        color: var(--white-color);
    }

    .project--klein-blue .project__link_hover {
        background-color: var(--kleinblue-color);
    }

    .project--gold .project__link {
        border-color: var(--gold-color);
        color: var(--gold-color);
    }

    .project--gold .project__link:hover {
        color: var(--white-color);
    }

    .project--gold .project__link_hover {
        background-color: var(--gold-color);
    }

    .follow--lilac {
        background-color: rgba(230, 69, 162, 0.5);
    }

    .follow--lightblue {
        background-color: rgba(114, 160, 239, 0.6);
    }

    .follow--orchid {
        background-color: rgba(162, 134, 251, 0.5);
    }

    .follow--orange {
        background-color: rgba(255, 135, 87, 0.5);
    }

    .follow--blue {
        background-color: rgba(17, 94, 255, 0.5);
    }

    .follow--klein-blue {
        background-color: rgba(51, 114, 191, 0.5);
    }

    .follow--gold {
        background-color: rgba(190, 155, 100, 0.5);
    }

    .project--lilac .slick-dots li button {
        background-color: rgba(230, 69, 162, 0.5);
    }

    .project--lilac .slick-dots li.slick-active button {
        background-color: rgba(230, 69, 162, 0.8);
    }

    .project--lightblue .slick-dots li button {
        background-color: rgba(114, 160, 239, 0.6);
    }

    .project--lightblue .slick-dots li.slick-active button {
        background-color: rgba(114, 160, 239, 0.9);
    }

    .project--orchid .slick-dots li button {
        background-color: rgba(162, 134, 251, 0.5);
    }

    .project--orchid .slick-dots li.slick-active button {
        background-color: rgba(162, 134, 251, 0.8);
    }

    .project--orange .slick-dots li button {
        background-color: rgba(255, 135, 87, 0.5);
    }

    .project--orange .slick-dots li.slick-active button {
        background-color: rgba(255, 135, 87, 0.8);
    }

    .project--blue .slick-dots li button {
        background-color: rgba(17, 94, 255, 0.5);
    }

    .project--blue .slick-dots li.slick-active button {
        background-color: rgba(17, 94, 255, 0.8);
    }

    .project--klein-blue .slick-dots li button {
        background-color: rgba(51, 114, 191, 0.5);
    }

    .project--klein-blue .slick-dots li.slick-active button {
        background-color: rgba(51, 114, 191, 0.8);
    }

    .project--gold .slick-dots li button {
        background-color: rgba(190, 155, 100, 0.5);
    }

    .project--gold .slick-dots li.slick-active button {
        background-color: rgba(190, 155, 100, 0.8);
    }

    .project--lilac .footer {
        background-color: var(--lilac-color);
    }

    .project--lightblue .footer {
        background-color: var(--lightblue-color);
    }

    .project--orchid .footer {
        background-color: var(--orchid-color);
    }

    .project--orange .footer {
        background-color: var(--orange-color);
    }

    .project--blue .footer {
        background-color: var(--blue-color);
    }

    .project--klein-blue .footer {
        background-color: var(--kleinblue-color);
    }

    .project--gold .footer {
        background-color: var(--gold-color);
    }

    .menu__text:hover {
        background-position: 0 0;
    }

    .menu__text:hover::before {
        opacity: 0.7;
        bottom: -3px
    }

    .social__item:hover .social__text {
        background-position: 0 0;
    }

    .social__item:hover .social__text::before {
        opacity: 0.7;
        bottom: -3px
    }

    .project__link:hover {
        color: var(--white-color);
    }

    .project__link:hover .project__link_hover {
        transform: translateY(0);
    }

    .footer a:hover::before {
        opacity: 0.7;
        bottom: -3px;
    }
}

@media only screen and (max-width: 1199px) {
    .md {
        display: block;
    }

    .no-md {
        display: none;
    }

    .wrapper {
        min-width: 100%;
    }

    .header--scrolling {
        box-shadow: 0 2px 20px rgba(8, 41, 79, 0.05);
    }

    .main {
        max-height: none;
        scroll-snap-type: none;
        padding-top: 100px;
    }

    .container {
        max-width: 100%;
        margin: 0;
        padding-left: 30px;
        padding-right: 30px;
    }

    .header__container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .follow {
        display: none;
    }

    .menu_burger {
        width: 20px;
        height: 14px;
        position: relative;
        cursor: pointer;
    }

    .menu_burger span {
        width: 100%;
        height: 2px;
        background: var(--main-color);
        border-radius: 2px;
        display: block;
        margin-top: 6px;
        margin-bottom: 4px;
        opacity: 1;
        transition: opacity 0s ease-out 0.3s;
    }

    .menu_burger--active span {
        opacity: 0;
    }

    .menu_burger:before,
    .menu_burger:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: var(--main-color);
        border-radius: 2px;
        display: block;
        left: 0;
        top: 0;
        transition: top 0.3s ease-out 0.3s,
                    transform 0.3s ease-out;
    }

    .menu_burger:after {
        top: 12px
    }

    .menu_burger--active:before {
        top: 6px;
        transform: rotate3d(0, 0, 1, 45deg);
        transition: top 0.3s ease-out,
                    transform 0.3s ease-out 0.3s;
    }

    .menu_burger--active:after {
        top: 6px;
        transform: rotate3d(0, 0, 1, -45deg);
        transition: top 0.3s ease-out,
                    transform 0.3s ease-out 0.3s;
    }

    .section {
        height: auto;
        margin-bottom: 100px;
        overflow: initial;
        flex-direction: column;
    }

    .section:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }

    .section__container,
    .section--intro .section__container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .section--intro .section__container {
        flex-direction: column;
    }

    .intro__info {
        width: 100%;
        margin-right: 0;
    }

    .scroller {
        position: relative;
        left: 0;
        bottom: 0;
        transform: none;
        margin-top: 40px;
    }

    .project .scroller {
        display: none;
    }

    .intro__greeting {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
        width: calc(100% - 380px);
        max-width: 700px
    }

    .intro__title {
        font-size: 43px;
        line-height: 47px;
        max-width: 700px;
        width: calc(100% - 380px);
    }

    .section__info,
    .list__text,
    .intro__text {
        font-size: 18px;
        line-height: 22px;
    }

    .intro__text {
        width: calc(100% - 380px);
        max-width: 700px;
        line-height: 24px;
    }

    .intro__list {
        width: calc(100% - 380px);
        max-width: 700px;
    }

    .intro__photo {
        position: absolute;
        right: 35px;
        width: 350px;
        top: calc((100% - 90px)/2);
        transform: translateY(-50%);
        min-width: 350px;
        border-radius: 40% 4px 40% 4px;
        height: 400px;
    }

    .intro__photo:before {
        right: -7px;
        bottom: -7px;
        border-radius: 40% 4px 40% 4px;
        width: 100%;
        height: 100%;
    }

    .intro__photo_inner {
        border-radius: 40% 4px 40% 4px;
    }

    .project__picture {
        width: 50vw;
        min-width: 50vw;
        height: calc((50vw * 461 / 650) + 20px);
    }

    .project__slide {
        height: calc(50vw * 461 / 650);
    }

    .footer {
        position: relative;
        margin-top: 50px;
    }

    .project__link:active {
        background: var(--primary-color);
        color: var(--white-color)
    }

    .popup--menu {
        width: 100vw;
        height: calc(100vh - 80px);
        position: fixed;
        top: 80px;
        left: 0;
        background: #FFFFFF;
        border-top: 1px solid var(--main-color-op10);
        padding-top: 20px;
        z-index: 2;
        overflow: scroll;
    }

    .popup--menu::-webkit-scrollbar {
        display: none;
    }

    .popup--menu::-webkit-scrollbar-track {
        display: none;
    }

    .popup--menu::-webkit-scrollbar-thumb {
        display: none;
    }

    .popup--menu .popup__container {
        display: flex;
        flex-direction: column;
    }

    .popup__menu {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .popup__menu .menu__list {
        flex-direction: column;
    }

    .popup__menu .menu__item {
        margin-right: 0;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        font-weight: 600;
        border-bottom: 1px solid var(--main-color-op10);
    }

    .popup__menu .menu__item:last-child {
        margin-bottom: 0;
        border-bottom: 0;
    }

    .popup__menu .menu__link {
        padding: 20px 20px 20px 0;
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }

    .popup__menu .menu__link:after {
        content: url('../images/stack_arrow_cadetblue.svg');
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .popup__menu .menu__text::before {
        display: none;
    }

    .popup__bottom {
        margin-top: 30px;
    }

    .popup--menu .popup__bottom {
        width: calc(100% + 60px);
        margin-left: -30px;
        padding: 10px 30px;
        text-align: center;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 19px;
        background-color: var(--primary-color);
    }
}

@media only screen and (max-width: 1000px) {
    .intro__photo {
        right: 0;
        width: 270px;
        min-width: 270px;
        border-radius: 10% 0 0 10%;
    }

    .intro__photo:before {
        border-radius: 11% 0 0 11%;
        width: calc(100% + 14px);
        height: calc(100% + 14px);
    }

    .intro__photo_inner {
        border-radius: 10% 0 0 10%;
    }

    .intro__greeting {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
        width: calc(100% - 380px);
        max-width: 700px
    }

    .intro__title,
    .intro__text,
    .intro__list {
        width: calc(100% - 280px);
    }

    .project__picture {
        margin-right: 30px;
    }

    .project--reverse .project__picture {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 880px) {
    .intro__photo {
        top: auto;
        bottom: 80px;
        width: 250px;
        min-width: 250px;
        height: 250px;
        transform: none;
    }

    .intro__greeting,
    .intro__title {
        width: 100%;
    }

    .project__link {
        padding: 10px 15px;
    }
}

@media only screen and (max-width: 767px) {
    .xs {
        display: block;
    }

    .no-xs {
        display: none;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section {
        margin-bottom: 30px;
    }

    .section--project {
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(95, 158, 160, 0.1);
    }

    .main {
        padding-top: 87px;
    }

    .section__container,
    .project--reverse .section__container {
        flex-direction: column;
    }

    .project__picture,
    .project--reverse .project__picture,
    .project__picture.slick-slider,
    .project--reverse .project__picture.slick-slider {
        margin: 0 0 30px 0;
    }

    .project__picture {
        width: 520px;
        min-width: 520px;
        height: 389px;
    }

    .project__slide {
        height: 369px;
    }

    .intro__info {
        color: #ffffff;
        position: absolute;
        top: calc(50% - 35px);
        transform: translateY(-50%);
        left: 20px;
        width: calc(100vw - 40px);
    }

    .intro__title {
        font-size: 35px;
        line-height: 39px;
    }

    .intro__photo {
        position: relative;
        top: 0;
        bottom: auto;
        right: auto;
        z-index: -1;
        border-radius: 0;
        width: calc(100vw + 40px);
        height: 500px;
    }

    .intro__photo:before,
    .intro__photo_inner {
        border-radius: 0;
    }

    .intro__photo:before {
        z-index: 1;
        opacity: 0.7;
        filter: brightness(0.9);
    }

    .intro__title .highlighted {
        color: var(--white-color);
        font-weight: 700;
    }

    .intro__title,
    .intro__text,
    .intro__list {
        width: 100%;
    }

    .scroller {
        margin-top: 30px;
        width: 40px;
        height: 40px;
        background-size: 15px;
    }

    .social__text {
        font-size: 15px;
    }

    .list__item {
        background: url('../images/stack_arrow_white.svg') no-repeat left 4px;
    }

    .project__title {
        font-size: 22px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 560px) {
    .main {
        padding-top: 77px;
    }

    .project__picture {
        width: 100vw;
        min-width: 100vw;
        height: calc((100vw * 461 / 650) + 20px);
    }

    .project__slide {
        height: calc(100vw * 461 / 650);
        border-radius: 0;
    }

    .social__icon {
        width: 30px;
        height: 30px;
    }

    .intro__title {
        font-size: 27px;
        line-height: 31px;
    }

    .intro__greeting {
        font-size: 16px;
        line-height: 20px;
    }

    .section__info,
    .list__text,
    .intro__text {
        font-size: 16px;
        line-height: 20px;
    }

    .intro__text {
        line-height: 22px;
    }

    .popup--menu {
        height: calc(100vh - 70px);
        top: 70px;
    }

    .popup__menu .menu__link {
        padding: 15px 20px 15px 0;
    }

    .popup__menu .menu__item {
        font-size: 16px;
        line-height: 19px;
    }
}

@media only screen and (max-width: 374px) {
    .intro__title {
        font-size: 23px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .intro__title + .intro__text {
        margin-bottom: 20px;
    }
}